.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.today-price{
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  color: rgb(32, 219, 32);
  font-weight: bold;
}

.diff-price{
  position: absolute;
  right: 1rem;
}

.fullTodayPrice{
  position: relative;
  left: 30%;
  font-size: 2.5rem;
  color: rgb(32, 219, 32);
  font-weight: 400;
 
}

.fullYesPrice{
  position: relative;
  left: 34.5%;
  font-size: 1.5rem;
  color: rgb(245, 59, 12);
  font-weight: 400;
}

.fullviewOuterDiv{
  height: 100vh;
  width: 100vw;
}

.closeButton {
  cursor: pointer;
  font-size: 2rem;
}